<h1> Python: aide-mémoire </h1>
<hr>
<ul>
    <li><a href="#Variables">Variables</a></li>
    <li><a href="#Operations">Opérations arithmétiques</a></li>
    <li><a href="#Objets">Objets</a></li>
    <li><a href="#Taille">Taille d'un objet</a></li>    
    <li><a href="#Boucles">Boucles</a></li>
    <li><a href="#Conditions">Boucles conditionnelles</a></li>
    <li><a href="#Booleens">Opérateurs logiques et booléens</a></li>
    <li><a href="#Matrices">Doubles listes ou matrices</a></li>
    <li><a href="#Listes">Opérations sur des listes</a></li>
    <li><a href="#Fonctions">Fonctions</a></li>
    <li><a href="#Aleatoires">Nombres aléatoires</a></li>
    <li><a href="#Complexes">Nombres complexes</a></li>
</ul>
<hr>

<a id="Variables"></a>
<h3> Variables </h3>

In [ ]:
nombre = 5 # nombre entier
reel = -3.4 # nombre réel

nom = 'Asja' # chaîne de caractères
surnom = "Sarkana" # chaîne de caractères

booleen1 = True # Booléen 
booleen2 = False # Booléen

<hr>

<a id="Operations"></a>
<h3> Opérations arithmétiques </h3>

<h4> Opérations de base </h4>

In [ ]:
a = 13
b = 5
print("a =",a)
print("b =",b)
print()

# Opérations de base
print("a + b =",a+b)
print("a - b =",a-b)
print("a * b =",a*b)
print("a / b =",a/b)

<h4> Division de nombres entiers et opération modulo </h4>

In [ ]:
a = 13
b = 5
print("a =",a)
print("b =",b)
print()

print("Division de nombres entiers:")
print("a//b =",a//b)

print("Opération modulo:")
print("a mod b =",a % b)

<h4> Opération exponentiel</h4>

nombre\*\*exposant

In [ ]:
b = 5
print("b =",b)
print()

print("b*b =",b**2)
print("b*b*b =",b**3)
print("sqrt(b)=",b**0.5)

<hr>

<a id="Objets"></a>
<h3> Objets </h3>

<h4> Listes </h4>

In [ ]:
# liste
maliste = [10,8,6,4,2] 

print(maliste)

<h4> Tuple </h4>

In [1]:
# tuple est une liste qui ne peut être modifiée (non mutable)
montuple=(1,4,5,'Asja') 

print(montuple)

(1, 4, 5, 'Asja')

<h4> Dictionaire </h4>

In [ ]:
# dictionaire
mondictionaire = {
    'nom' : "Asja",
    'surnom':'Sarkane',
    'age': 23
}

print(mondictionaire)

print(mondictionaire['surnom'])

<h4>Autres objets ou variables </h4>

In [ ]:
# liste d'autres objets ou variables
autres_objets =[
    maliste,
    montuple,
    3,
    "Asja",
    mondictionaire
]

print(autres_objets)

<hr>

<a id="Taille"></a>
<h3> Taille d'un objet </h3>

On emploie "len()" avec un objet comme entrée.

In [ ]:
# longueur d'une chaîne
print(len("Asja Sarkane"))

# longueur d'une liste
print(len([1,2,3,4]))

# Taille d'un dictionnaire
mondictionaire = { 'nom' : "Asja", 'surnom':'Sarkane', 'age': 23}
print(len(mondictionaire))

<hr>

<a id="Boucles"></a>
<h3> Boucles </h3>

<h4> Boucles "while" </h4>

In [ ]:
i = 10
while i>0: # condition(s) pour l'instruction while :
    print(i)
    i = i - 1

<h4> Boucle "For"</h4>

In [ ]:
for i in range(10): # i est dans la séquence [0,1,...,9]
    print(i)

In [ ]:
for i in range(-5,6): # i est dans la séquence [-5,-4,...,0,...,4,5]
    print(i)

In [ ]:
for i in range(0,23,4): # i est dans la séquence [0,4,8,12,16,20]
    print(i)

In [ ]:
for i in [3,8,-5,11]: 
    print(i)

In [ ]:
for i in "Sarkane":
    print(i)

In [4]:
# dictionaire
mondictionaire = {
    'nom' : "Asja",
    'surnom':'Sarkane',
    'age': 23,
}

for cle in mondictionaire:
    print("La clé est",cle,"et sa valeur est",mondictionaire[cle])

La clé est nom et sa valeur est Asja
La clé est surnom et sa valeur est Sarkane
La clé est age et sa valeur est 23

<hr>

<a id="Conditions"></a>
<h3>Boucles conditionnelles </h3>

In [ ]:
for a in range(4,7):
    
    # if: condition(s) "si"
    if a<5: 
        print(a,"is less than 5")
        
    # elif: conditions(s) "sinon si"
    elif a==5: 
        print(a,"is equal to 5")
        
    # else: conditions(s) "sinon"
    else:
        print(a,"is greater than 5")

<hr>

<a id="Booleens"></a>
<h3>Opérations logiques et booléennes</h3>

<h4> Opération logique "and"</h4>

In [ ]:
# Opération logique "and" = et
i = -3
j = 4
if i<0 and j > 0:  
    print(i,"is negative AND",j,"is positive")

<h4>Opération logique "or"</h4>

In [ ]:
# Opération logique "or" = ou
i = -2
j = 2
if i==2 or j == 2:  
    print("i OR j is 2: (",i,",",j,")")

<h4>Opération logique "not" </h4>

In [ ]:
# Opération logique "not" = pas
i = 3
if not (i==2):
    print(i,"is NOT equal to 2")

<h4> Opérateur "equal to" </h4>

In [ ]:
# Opérateur "equal to" = égal à
i = -1
if i == -1:
    print(i,"est ÉGALE à -1")

<h4> Opérateur "not equal to" </h4>

In [ ]:
# Opérateur "not equal to" = ne pas égal à
i = 4
if i != 3:
    print(i,"n'est PAS ÉGALE à 3")

<h4> Opérateur "less than or equal to" </h4>

In [ ]:
# Opérateur "less than or equal to" = plus petit ou égal à
i = 2
if i <= 5:
    print(i,"est PLUS PETIT OU ÉGALE à 5")

<h4> Opérateur "greater than or equal to" </h4>

In [ ]:
# Opérateur "greater than or equal to" = plus grand ou égal à
i = 5
if i >= 1:
    print(i,"est PLUS GRAND OU ÉGALE à 3")

<hr>

<a id="Matrices"></a>
<h3> Double listes ou matrices </h3>

In [ ]:
A =[
    [1,2,3],
    [-2,-4,-6],
    [3,6,9]
]

# résultats
print(A)
print()

# ordonner un résultat par ligne
for list in A:
    print(list)

<hr>

<a id="Listes"></a>
<h3>Liste d'opérations</h3>

<h4> Concaténation de deux listes </h4>

In [ ]:
liste1 = [1,2,3]
liste2 = [4,5,6]

#Concaténation de deux listes

liste3 = liste1 + liste2
print(liste3)

list4 = liste2 + liste1
print(liste4)

<h4> Ajout d'un nouvel élément </h4>

In [ ]:
liste = [0,1,2]

liste.append(3)
print(liste)

liste = liste + [4]
print(list)

<hr>

<a id="Fonctions"></a>
<h3>Fonctions</h3>

In [ ]:
def somme_nombres_entiers(n):
    somme = 0
    for entier in range(n+1):
        somme = somme + entier
    return somme

print(somme_nombres_entiers(10))
print(somme_nombres_entiers(20))

 <hr>

<a id="Aleatoires"></a>
<h3>Nombres aléatoires</h3>

On emploie la commande "randrange()".

In [ ]:
from random import randrange

print(randrange(10),"choisi des nombres aléatoires entre 0 et 9")
      
print(randrange(-9,10),"choisi des nombres aléatoires entre -9 et 9")

print(randrange(0,20,3),"choisi aléatoirement parmi la liste [0,3,6,9,12,15,18]")

 <hr>

<a id="Complexes"></a>
<h3>Nombres complexes</h3>

On emploie la commande "randrange()".

In [5]:
# nombres complexes emploi j au lieu de i
z = 2 + 3j

# on peut également employer la commande complex
z = complex(2,3)
print(z)

(2+3j)